extends layout
block content 
      center
        if(!datosdonante)  
          form(role='form', action="/eliminarDonanteRedir",method="post", style='max-width: 300px;')
            .form-group
              input.form-control(type='text', name="dniRedir", placeholder='DNI')
            button(type='submit',class="boton") Aceptar
        
        if(datosdonante)  
          if(!(datosdonante.existeLogico)) 
            form(role='form', action="/eliminarDonanteRedir",method="post", style='max-width: 300px;')
              .form-group
                input.form-control(type='text', name="dniRedir", placeholder='DNI')
            button(type='submit',class="boton") Aceptar
            p el dni que ingreso no corresponde a ningun donante en servicio
          if(datosdonante.existeLogico) 
            |SEGURO QUE QUIERE ELIMINAR EL SIGUIENTE DONANTE?
            br
            b Dni:  
            |#{datospersona.dni}
            br
            b Nombre y apellido: 
            |#{datospersona.n_y_ap}
            br
            b Email: 
            |#{datospadrino.email}
            br
            b Telefono fijo: 
            |#{datospadrino.tel_fijo}
            br
            b Direccion: 
            |#{datospadrino.direccion}
            br
            b Celular: 
            |#{datospadrino.celular}
            br
            b Fecha de nacimiento: 
            |#{datospadrino.fecha_nac}
            br
            b Cod. postal: 
            |#{datospadrino.cod_postal}
            br
            b Ocupacion: 
            |#{datosdonante.ocupacion}
            br
            b Cuil/Cuit: 
            |#{datosdonante.cuil_cuit}
            
            
            
            form(role='form', action="/eliminarDonante",method="post", style='display :none')
              .form-group.oculto
                input.form-control(type='text', name="dni", placeholder='DNI',value=datospersona.dni,readonly="true")
                input.form-control(type='text', name="n_y_ap", placeholder='NOMBRE Y APELLIDO',value=datospersona.n_y_ap,readonly="true")
                input.form-control(type='text', name="email", placeholder='DNI',value=datospadrino.email,readonly="true")
                input.form-control(type='text', name="tel_fijo", placeholder='DNI',value=datospadrino.tel_fijo,readonly="true")
                input.form-control(type='text', name="direccion", placeholder='DNI',value=datospadrino.direccion,readonly="true")
                input.form-control(type='text', name="celular", placeholder='DNI',value=datospadrino.celular,readonly="true")
                input.form-control(type='text', name="fecha_nac", placeholder='DNI',value=datospadrino.fecha_nac,readonly="true")
                input.form-control(type='text', name="cod_postal", placeholder='DNI',value=datospadrino.cod_postal,readonly="true")
                input.form-control(type='text', name="ocupacion", placeholder='DNI',value=datosdonante.ocupacion,readonly="true")
                input.form-control(type='text', name="cuil_cuit", placeholder='DNI',value=datosdonante.cuil_cuit,readonly="true")
              button(type='submit',class="boton") Eliminar
              a(href="/register",class='.link') Cancelar
