extends layout
block content
      br
      center 
        p Selecciona una Tarjeta
        form(role='form', action="/donantesPorTarjetaRedir",method="post", style='max-width: 300px;')
          .form-group
            select(name="nombre_tarjetaRedir")
              each tarjeta, i in listatarjetas
                option(value=tarjeta.nombre_tarjeta)  #{tarjeta.nombre_tarjeta}
          button(type='submit',class="boton") Aceptar
        br
        br
        
        
        if(lista)
          table#datos.display(cellspacing='0')
            thead
              th Dni
              th Numero de tarjeta
              th Nombre Titular
              th cod. verificacion
              th Fecha de Vencimiento
              th Programa
              th Monto
              th Frecuencia
              
            each elemento, i in lista
              tr
                td 
                  a(href='/infoDonante?dni=#{elemento.dni}') #{elemento.dni}
                td #{elemento.nro}
                td #{elemento.nombre_titular}
                td #{elemento.codigo_verificacion}
                td #{elemento.fecha_vencimiento.toLocaleDateString()}
                td #{elemento.nombre_programa}
                td #{elemento.monto}
                td #{elemento.frecuencia}
                
            
