extends layout
block content
      center 
        if(listaprogramas)
          br
          h3 Elija un programa:
          br
          form(role='form', action="/donantesPorProgramaRedir",method="post", style='max-width: 300px;')
            .form-group
              select(name="nombre_programaRedir")
                each programa, i in listaprogramas
                  option(value=programa.nombre_programa)  #{programa.nombre_programa}
            button(type='submit',class="boton") Aceptar
          br
          br
        if(!listaprogramas && !lista)
          p No hay programas cargados en el sistema.
        if(lista)
          .tabla
            table#datos.display(cellspacing='0' class="sortable")
              thead
                th Dni
                th Nombre y apellido
                th
                th
              each elemento, i in lista
                tr
                  td 
                    a(href='/infoDonante?dni=#{elemento.dni}') #{elemento.dni}
                  td #{elemento.n_y_ap}
                  td(class='celdacorta')
                    a(href='/modificarDonante?dni=#{elemento.dni}') modificar
                  td(class='celdacorta')
                    a(href='/eliminarDonante?dni=#{elemento.dni}') eliminar
            
