extends layout
block content
        br
        form(role='form', action="/donantesPorTarjetaRedir",method="post", style='max-width: 300px;')
          p Selecciona una Tarjeta
          br    
          select(name="nombre_tarjetaRedir")
            each tarjeta, i in listatarjetas
              option(value=tarjeta.nombre_tarjeta)  #{tarjeta.nombre_tarjeta}
          br
          p Ver todos?
          select(name="nofiltro")
            option(value="true")  Si
            option(value="false")  No
          br
          br
          
          button(type='submit',class="boton") Aceptar
          br
          br
          
          
        if(lista)
          table#datos.display(cellspacing='0')
            thead
              th Dni
              th Nombre Titular
              th Numero de tarjeta
              th Monto
            
              
            each elemento, i in lista
              tr
                td 
                  a(href='/infoDonante?dni=#{elemento.dni}') #{elemento.dni}
                td #{elemento.nombre_titular}
                td #{elemento.nro}
                td #{elemento.monto}
                
                
            
