extends layout
block content
      br
      center 
        p Selecciona un Banco
        form(role='form', action="/donantesPorBancoRedir",method="post", style='max-width: 300px;')
          .form-group
            select(name="nombre_bancoRedir")
              each banco, i in listabancos
                option(value=banco.nombre_banco)  #{banco.nombre_banco}
          button(type='submit',class="boton") Aceptar
        br
        br
        
        
        if(lista)
          table#datos.display(cellspacing='0')
            thead
              th Dni
              th Nombre Titular
              th Cbu
              th nro de cuenta
              th cod. verif
              th Programa
              th Monto
              th Frecuencia
              th Sucursal
            each elemento, i in lista
              tr
                td 
                  a(href='/infoDonante?dni=#{elemento.dni}') #{elemento.dni}
                td #{elemento.nombre_titular}
                td #{elemento.cbu}
                td #{elemento.nro_cuenta}
                td #{elemento.codigo_verificacion}
                td #{elemento.nombre_programa}
                td #{elemento.monto}
                td #{elemento.frecuencia}
                td #{elemento.sucursal_banco}
            
