extends layout
block content
      center 
        p.title Informaci贸n del Contacto
        if(!infoContacto)
          br
          br
          br
          h3 Ingrese el DNI del contacto que desea visualizar:
          br
          form(role='form', action="/infoContactoRedir",method="post")
            .form-group
              input.form-control(type='text', name="dniRedir", placeholder='DNI')
            button(type='submit',class="boton") Aceptar

            form
              input(type='button', value='Volver', name='Volver', onclick='history.back()')
          br

        if(infoContacto)
          br
          br
          br
          li
            b DNI: 
            |  #{infoContacto[0].dni}
          br
          li
            b Nombre y Apellido: 
            |  #{infoContacto[0].n_y_ap}
          br
          li
            b E-mail: 
            |  #{infoContacto[0].email}
          br
          li
            b Direcci贸n: 
            |  #{infoContacto[0].direccion}
          br          
          li
            b Telefono Fijo:
            |  #{infoContacto[0].tel_fijo}
          br
          li
            b Celular:
            |  #{infoContacto[0].celular}
          br

          li
            b Fecha de Nacimiento: 
            |  #{infoContacto[0].fecha_nac}
          br
          li
            b C贸digo Postal: 
            |  #{infoContacto[0].cod_postal}
          br

          li
            b Fecha del primer contacto: 
            |  #{infoContacto[0].fecha_primer_contacto}
          br
          li
            b Fecha de alta: 
            |  #{infoContacto[0].fecha_alta}
          br
          li
            b Fecha de baja: 
            |  #{infoContacto[0].fecha_baja}  
          br
          li
            b Fecha de rechazo de adhesi贸n: 
            |  #{infoContacto[0].fecha_rechazo_adhesion}
          br
          li
            b Estado: 
            |  #{infoContacto[0].estado}    
          br
          
          
          li
            b Comentario: 
            |  #{infoContacto[0].comentario}
          br
          
          br
          form
            input(type='button', value='Volver', name='Volver', onclick='history.back()')
