extends layout
block content
      center 
        p.title Información del Contacto
        if(!infoContacto)
          form(role='form', action="/infoContactoRedir",method="post")
            .form-group
              input.form-control(type='text', name="dniRedir", placeholder='DNI')
            button(type='submit',class="boton") Aceptar
            p Ingrese un Dni correspondiente a un contacto activo
        if(infoContacto)
          br
          br
          br
          | El DNI 
          b #{infoContacto[0].dni} 
          | corresponde a:
        
          br
          
          br
          li
            b Nombre y Apellido: 
            |  #{infoContacto[0].n_y_ap}
          br
          li
            b E-mail: 
            |  #{infoContacto[0].email}
          br
          li
            b Dirección: 
            |  #{infoContacto[0].direccion}
          br          
          li
            b Telefono Fijo:
            |  #{infoContacto[0].tel_fijo}
          br
          li
            b Celular:
            |  #{infoContacto[0].celular}
          br

          li
            b Fecha de Nacimiento: 
            |  #{infoContacto[0].fecha_nac}
          br
          li
            b Código Postal: 
            |  #{infoContacto[0].cod_postal}
          br

          li
            b Fecha del primer contacto: 
            |  #{infoContacto[0].fecha_primer_contacto}
          br
          li
            b Fecha de alta: 
            |  #{infoContacto[0].fecha_alta}
          br
          li
            b Fecha de baja: 
            |  #{infoContacto[0].fecha_baja}  
          br
          li
            b Fecha de rechazo de adhesión: 
            |  #{infoContacto[0].fecha_rechazo_adhesion}
          br
          li
            b Estado: 
            |  #{infoContacto[0].estado}    
          br
          li
            b DNI Recomendador: 
            |  #{infoContacto[0].dni_recomendador}
          br
          li
            b Comentario: 
            |  #{infoContacto[0].comentario}
          br
          li
            b Relación: 
            |  #{infoContacto[0].relacion}

          br
          br
          a(href='javascript:history.back()') Volver
