extends layout
block content
      center Informacion de un Donante
        if(!infoDonante)
          form(role='form', action="/infoDonanteRedir",method="post", style='max-width: 300px;')
            .form-group
              input.form-control(type='text', name="dniRedir", placeholder='DNI')
            button(type='submit',class="boton") Aceptar
            p Ingrese un Dni correspondiente a un donante en servicio
        if(infoDonante)
          p El Dni corresponde a:
          form(role='form', action="/infoDonanteRedir2",method="post", style='max-width: 300px;')
            .form-group
            li
              b DNI: 
              |  #{infoDonante[0].dni}
            br
            li
              b Nombre y Apellido: 
              |  #{infoDonante[0].n_y_ap}
            br
            li
              b E-mail: 
              |  #{infoDonante[0].email}
            br
            li
              b Dirección: 
              |  #{infoDonante[0].direccion}
            br          
            li
              b Telefono Fijo:
              |  #{infoDonante[0].tel_fijo}
            br
            li
              b Celular:
              |  #{infoDonante[0].celular}
            br

            li
              b Fecha de Nacimiento: 
              |  #{infoDonante[0].fecha_nac}
            br
            li
              b Código Postal: 
              |  #{infoDonante[0].cod_postal}
            br
            li
              b Ocupacion: 
              |  #{infoDonante[0].ocupacion}
            br
            li
              b Comentario: 
              |  #{infoDonante[0].comentario}
            br
            li
              b Cuil/Cuit: 
              |  #{infoDonante[0].cuil_cuit}
            br
            
            br  
            if(listaAportes)
              p Este donante posee los siguentes aportes
              table
                thead
                  th  Programa:
                  th  ID MP:
                  th  Frecuencia: 
                  th  Monto: 
                  th 
                    a(href='/historialDonante?dni=#{infoDonante[0].dni}') Historial 
                
                each elemento, i in listaAportes
                  tr
                    td #{elemento.nombre_programa} 
                    td #{elemento.id} 
                    td #{elemento.frecuencia}  
                    td #{elemento.monto} 
                    td 
                      a(href='/historialDonante?dni=#{infoDonante[0].dni}&nombre_programa=#{elemento.nombre_programa}&id=#{elemento.id}') Ver
          br
          
          input(type='button', value='Volver', name='Volver', onclick='history.back()')  
