extends layout
block content
  center
    p.title Contactos:
  br
  a(href='/insertarContacto',class="btn btn-primary aladerecha", role = "button") Nuevo 
  br
  br
  if(lista)
    
      table#datos.display(cellspacing='0')
        thead
          th Dni
          th Nombre y apellido
          th Estado
          th Telefono/Celular
          th Comentario
          th Origen
          th Fecha ultimo Contacto
          th
          th 
          th
        each elemento, i in lista
          tr
            td 
              a(href='/infoContacto?dni=#{elemento.dni}') #{elemento.dni}
            td #{elemento.n_y_ap}
            td #{elemento.estado}
            td #{elemento.tel_fijo} / #{elemento.celular}
            td #{elemento.comentario}
            td #{elemento.relacion}
            if(elemento.fecha_ult_contacto)
              td #{elemento.fecha_ult_contacto.toLocaleDateString()}
            else
              td
            td(class='celdacorta')
              a(href='/modificarContacto?dni=#{elemento.dni}') modificar              
            td(class='celdacorta')
              a(href='/eliminarContacto?dni=#{elemento.dni}') eliminar
            td(class='celdacorta')
              a(href='/adherirContacto?dni=#{elemento.dni}') Adherir
                
