extends layout
block content
  p.title Donantes:
  a(href='/insertarDonante',class="btn btn-primary aladerecha", role = "button") Nuevo 
  br
  br
  if(lista)
      table#datos.display(cellspacing='0')
        thead
          th Dni
          th Nombre y apellido
          th Telefono
          th Comentario
          th Cuil/Cuit
          th Email
          th Direccion
          th F. Alta
          th F. Baja
          th 
          th 
        each elemento, i in lista
          tr
            td 
              a(href='/infoDonante?dni=#{elemento.dni}') #{elemento.dni}
            td #{elemento.n_y_ap}
            td #{elemento.celular} / #{elemento.tel_fijo}
            td #{elemento.comentario}
            td #{elemento.cuil_cuit}
            td #{elemento.email}
            td #{elemento.direccion}
            if elemento.fecha_alta
              td #{elemento.fecha_alta.toLocaleDateString()}
            else
              td
            if elemento.fecha_baja
              td #{elemento.fecha_baja.toLocaleDateString()}
            else
              td
      
            td(class='celdacorta')
              a(href='/modificarDonante?dni=#{elemento.dni}') modificar              
            td(class='celdacorta')
              a(href='/eliminarDonante?dni=#{elemento.dni}') eliminar
                
