extends layout
block content 
      center modificar credito 
        if(!datoscredito)  
          form(role='form', action="/modificarCreditoRedir",method="post", style='max-width: 300px;')
            .form-group
              input.form-control(type='text', name="nroRedir", placeholder='NUMERO')
            button(type='submit',class="boton") Aceptar
        if(datoscredito)  
          p se cargo la tarjeta de credito!
          form(role='form', action="/modificarCredito",method="post", style='max-width: 300px;')
            .form-group
              input.form-control(type='text', name="nro", placeholder='NUMERO DE TARJETA',value=datoscredito.nro)
              input.form-control(type='text', name="nombre_tarjeta", placeholder='NOMBRE DE LA TARJETA',value=datoscredito.nombre_tarjeta)
              input.form-control(type='text', name="nombre_titular", placeholder='NOMBRE DEL TITULAR',value=datoscredito.nombre_titular)
              input.form-control(type='text', name="fecha_vencimiento", placeholder='FECHA DE VENCIMIENTO (DD/MM/AAAA)',value=datoscredito.fecha_vencimiento)
              input.form-control(type='text', name="codigo_verificacion", placeholder='CODIGO VERIFICACION',value=datoscredito.codigo_verificacion)
            button(type='submit',class="boton") Aceptar
