extends layout
block content 
        p.title Modificar debito 
        br
        br
        br
        if(!datosdebito)  
          form(role='form', action="/modificarDebitoRedir",method="post")
            .form-group
              label(for='cbuRedir') CBU:
              input.form-control(type='text', name="cbuRedir", placeholder='CBU')
            button(type='submit',class="boton") Aceptar
        
        if(datosdebito)  
          if(!(datosdebito.existe)) 
            form(role='form', action="/modificarDebitoRedir",method="post")
              .form-group
                label(for='cbuRedir') CBU:
                input.form-control(type='text', name="cbuRedir", placeholder='CBU')
            button(type='submit',class="boton") Aceptar
            p el cbu que ingreso no corresponde a ningun debito en servicio
          if(datosdebito.existe) 
            form(role='form', action="/modificarDebito",method="post")
              .form-group
                label(for='id') ID(Medio de pago):
                input.form-control(type='text', name="id", placeholder='ID',value=datosdebito.id,readonly="true")
                br
                label(for='cbu') CBU:
                input.form-control(type='text', name="cbu", placeholder='cbu',value=datosdebito.cbu,readonly="true")
                br
                label(for='nro_cuenta') Numero de cuenta:
                input.form-control(type='text', name="nro_cuenta", placeholder='NUMERO DE CUENTA',value=datosdebito.numero_cuenta)
                br
                label(for='nombre_titular') Nombre de titular:
                input.form-control(type='text', name="nombre_titular", placeholder='NOMBRE DEL TITULAR',value=datosdebito.titular)
                br
                label(for='codigo_verificacion') Codigo de verificación:
                input.form-control(type='text', name="codigo_verificacion", placeholder='CODIGO DE VERIFIACION',value=datosdebito.codigo)
                br
                label(for='tipo_cuenta') Tipo de cuenta:
                input.form-control(type='text', name="tipo_cuenta", placeholder='TIPO DE CUENTA',value=datosdebito.cuenta)
                br
                label(for='nombre_banco') Nombre del banco:
                input.form-control(type='text', name="nombre_banco", placeholder='NOMBRE DEL BANCO',value=datosdebito.banco)
                br
                label(for='sucursal_banco') Sucursal del banco:
                input.form-control(type='text', name="sucursal_banco", placeholder='SUCURSAL DEL BANCO',value=datosdebito.sucursal)
              button(type='submit',class="boton") Aceptar
